# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.egg-info/
.env
*.log

# Flask / Debug
instance/
.env.*
*.bak
*.swp
*.swo

# Docker
db_data/
*.pid
*.sock

# VSCode
.vscode/

# PyCharm
.idea/

# Logs
*.log

# Node modules (por si usas frontend moderno)
node_modules/

# Ignorar archivos y carpetas temporales
*.tmp
*.temp
*.~*